<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/AdminLayout/Index/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Rüzgar Deniz</div>
    </a>

    <hr class="sidebar-divider my-0">

    <!-- Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/AdminLayout/Index/">
            <i class="fas fa-chart-line"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Anlık Chat -->
    <li class="nav-item active">
        <a class="nav-link" href="/ChatAI/SendChatWithAI/">
            <i class="fas fa-comments"></i>
            <span>Anlık Chat</span>
        </a>
    </li>

    <!-- Yorumlar -->
    <li class="nav-item active">
        <a class="nav-link" href="/Comments/CommentsList/">
            <i class="fas fa-comment-dots"></i>
            <span>Yorumlar</span>
        </a>
    </li>

    <!-- Ürünler -->
    <li class="nav-item active">
        <a class="nav-link" href="/Product/Index/">
            <i class="fas fa-box-open"></i>
            <span>Ürünler</span>
        </a>
    </li>

    <!-- Kategoriler -->
    <li class="nav-item active">
        <a class="nav-link" href="/Category/CategoryIndex/">
            <i class="fas fa-tags"></i>
            <span>Kategoriler</span>
        </a>
    </li>

    <!-- Hakkımızda -->
    <li class="nav-item active">
        <a class="nav-link" href="/Default/DefaultPage/">
            <i class="fas fa-info-circle"></i>
            <span>Hakkımızda</span>
        </a>
    </li>

    <!-- Destek Ekibimiz -->
    <li class="nav-item active">
        <a class="nav-link" href="/Team/Index/">
            <i class="fas fa-users"></i>
            <span>Destek Ekibimiz</span>
        </a>
    </li>

    <!-- Üst Slider -->
    <li class="nav-item active">
        <a class="nav-link" href="/TopSlider/TopSlider/">
            <i class="fas fa-images"></i>
            <span>Üst Slider</span>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/Admin/Orders/">
            <i class="fas fa-images"></i>
            <span>Siparişler</span>
        </a>
    </li>

    <!-- Siteye Dön -->
    <li class="nav-item active">
        <a class="nav-link" href="/Default/Index/">
            <i class="fas fa-home"></i>
            <span>Siteye Dön</span>
        </a>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
